@import url(/public/fonts/Inter/stylesheet.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.location {
  height: 30px;
  background-color: #f0f2f5;
  max-width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .right{
    display: block;
  }

  .left,
  .right {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 5px;
  }
}

.l-content {
  display: flex;

  .choose {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .city {
    display: flex;
    align-items: flex-start;

    .choose-city {
      height: 20px;
      width: 20px;
      cursor: pointer;
      border: none;
      background: none;
    }
  }
}

#border {
  a {
    padding-right: 12px;
    border-right: 2px solid #dee0e5;
  }
}

.seller {
  a {
    color: rgb(127, 77, 255);
    text-decoration: none;
  }

  a:hover {
    color: #7000ff;
    text-decoration: none;
    cursor: pointer;
  }
}

.nav-a {
  a {
    color: #000;
    text-decoration: none;
  }
}

.swiper {
  max-width: 100%;
  height: 413px;
  border-radius: 20px;
}

.mySwiper {
  margin-top: 50px;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-slide img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffffb3;
  border-radius: 50%;
}

.swiper-button-next .ui-icon,
.swiper-button-prev .ui-icon {
  height: 24px;
  width: 24px;
  opacity: 0.7;
}

.elem:hover {
  background-color: #00000041;
  transition: 0.4s ease;
}

.flex-box {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-top: 30px;
}

.elem {
  cursor: pointer;
  width: 301px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  border: none;
  background-color: #0000001a;

  img {
    width: 40px;
    height: 40px;
  }

  span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    font-style: inherit;
  }
}

.text {
  padding-top: 30px;
  padding-bottom: 30px;

  h2 {
    align-items: center;
    display: flex;

    img {
      padding-top: 3.5px;
      width: 24px;
      height: 24px;
    }
  }
}

.prods {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  width: 230px;
  height: 470px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  .preview {
    height: 309px;
    width: 232px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    svg {
      cursor: pointer;
      border-radius: 50%;
      right: 10px;
      top: 10px;
      position: absolute;
    }
  }

  .card-content {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .card-price {
      display: flex;
      align-items: center;
      margin-left: 1.5px;

      h3 {
        font-size: 20px;
        font-weight: 500;
        color: #7f4dff;
      }
    }

    h4 {
      margin-left: 1.5px;
      font-size: 15px;
      font-weight: 400;
      color: #535252ec;
    }

    .perY {
      background-color: rgb(255, 255, 0);
      color: rgb(31, 31, 38);
      width: 140px;
      height: 18px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 5px;
      margin-left: 4px;

      p {
        font-size: 10px;
        font-weight: 400;
        color: black;
      }
    }

    .decs {
      padding-top: 3px;
      width: 200px;
      margin-left: 1.5px;
    }

    .decs p {
      color: black;
      font-size: 13px;
      text-align: left;
      overflow-wrap: normal;
      word-break: break-word;
      max-width: 100%;
      display: block;
    }

    .rate {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: 4px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-bottom: 5px;

      span {
        font-size: 12px;
        color: #7e818c;
        font-weight: 500;
      }
    }

    .add-cart {
      width: 100%;
      margin-top: auto;

      button {
        width: 100%;
        border: none;
        height: 35px;
        background-color: #7000ff;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}

.goods-container {
  max-width: 1200px;
  margin: 0 auto;
}

.test {
  background-color: red;
  width: 100%;
  height: 100px;
}
.in-phone{
  display: none;
}

@media  (max-width: 415px ){
  body{
    box-sizing: border-box;
  }
  .container,
  .goods-container {

    max-width: 100%;
    padding: 0 8px;
    margin: 0 auto;
  }

  .categories {
    display: none;
  }

  .location {
    padding: 5px 8px;
    font-size: 13px;
  }



  .location {
    background-color: white;
    height: 60px;
    nav {
      display: block;
      max-width: 100%;
    }

    .right {
      display: none;
    }

  }

  .left {
    max-width: 100%;
    display: flex;
    justify-content: space-between;

    .l-content {
      display: flex;


    }


  }
  .in-phone{
    height: 35px;
    margin-top: 20px;
  }
.search-inp{
  background-color: #dee0e5;
  border-radius: 10px;
  height: 32px;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 5px;
  
  img{
    height: 20px;
    width: 20px;
    align-items: center;
    margin-left: 7px;
  }
  input{
    height: 32px;
    width: 350px;
    background-color: #dee0e5;
    border: none;
    border-radius: 10px;
    
  }
}
.mySwiper{
  padding-top: 50px;
}

}